{% extends "base.html" %}
{% block title %}双色球-趋势分析{% endblock %}
{% block body %}
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 600px;height:400px;"></div>
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '蓝球走势图（近30期）'
            },
            tooltip: {
                trigger: 'axis'
            },
            xAxis: {
                type: 'category',
                data: {{ dates }}
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: {{ blues }},
                type: 'line',
                color: 'blue'
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

</script>
{% endblock %}


